nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #18365f;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  font-family: 'Segoe UI', sans-serif;
}

.left {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.left img {
  height: 1.2rem;
}

.super-right {
  display: flex;
  align-items: center;
  gap: 1rem;

}
.abt {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #3b82f6;
  background-color: rgb(255, 255, 255);
  padding: 0.39rem 1rem;
  border-radius: 5px;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 3px 3px 3px 1rem;
  border-radius: 5px;
}

.right span {
  font-size: 1rem;
  font-weight: 500;
  color: #3b82f6;
}

.right button {
  padding: 0.4rem 1rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.right button:hover {
  background: #2563eb;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .right {
    flex-direction: row;
    align-items: center;
  }
}
